h1 {
  font-family: 'Poetsen One', serif;  background: linear-gradient(to right, #ff69b4, #ff5252, #ffd159);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

h3 {
  font-family: 'Poetsen One', serif;
  color: #ffd159;
}